body {
  overflow-x: hidden;
}

h1, h2 {
  font-weight: bolder;
  /* text-decoration: underline; */
  text-shadow: 2px 2px #aaf;
  color: #55f;
}

h3 {
  text-shadow: 2px 2px #0ff;
  color: #0aa;
}

body {
  background-color: #000;
  color: white;
  font-family: 'Coming Soon', Roboto, cursive;
}

::selection {
  color: #fff;
  background-color: #f00;
  text-shadow: none;
}

::-moz-selection {
  color: #fff;
  background-color: #f00;
  text-shadow: none;
}

footer {
  transform: translateX(-6px);
  position: absolute;
  width: 99%;
  margin: 0 0 0 0;
  padding: 10px;
  background-color: #444;
}

[data-white] {
  color: white;
  text-shadow: none;
}

.footer-content {
  margin-left: 20px
}
